@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	padding-top: 50px;
}
input{
	box-sizing: border-box;
	padding: 5px 12px;
	font: 16px 'Roboto', sans-serif;
}
input::placeholder{
	opacity: .6;
	font-weight: 300;
}
a{color: #708EB7;}
/* ============================================ */
.my-head{
	height: 50px;
	width: 100%;
	box-sizing: border-box;
	padding-top: 12px;
	background-color: #708EB7;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.wrapper{
	width: 85%;
	margin: 0 auto;
}
.headBlock{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.headBlock__logo{
	font-size: 18px;
	font-weight: 500;
}
.headBlock__name{
	font-size: 16px;
	font-weight: 300;
}
.my-btn{
	padding: 5px 12px;
	background-color: #708EB7;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	border: 1px solid #fff;
	border-radius: 3px;
}

/* ======================================================== */

.signUp-window{
	width: 300px;
	height: auto;
	box-sizing: border-box;
	padding: 20px 15px;
	border-radius: 3px;
	background-color: #fff;
	text-align: center;
	margin: 90px auto 20px auto;
	box-shadow: 0px -3px 23px #708EB7;
}

.my-form-control{
	width: 100%;margin-bottom: 20px;
}
.errMessage{
	font: 15px 'Roboto', sans-serif;
	padding-top: 20px;
	color: #f00;
}
.linkMessage{
	font-size: 14px;
	padding: 3px;
}
/* =========================================== */
.mb-0{
	margin-bottom: 0;
}
.mb-20{
	margin-bottom: 20px;
}
.inline-form{
	width: 100%;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
button.my-btn-add{
	height: 35px;
	font-size: 17px; 
	box-sizing: border-box;
}

/* ====================================== */
.datalist{
	width: 100%;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.datalist__item{
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	font: 15px 'Roboto', sans-serif;
	font-weight: 300;
	text-align: left;
}


@media screen and (max-width: 460px) {
	.inline-form{
		flex-wrap: wrap;
	}
	.my-form-control--mob{
		margin-bottom: 5px;
		width: 100%;
	}
	.datalist{
		flex-wrap: wrap;
	}
	.my-btn-add{
		width: 50%;
	}
}